# Java & Gradle
/build/
/out/
/bin/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.iml
.idea/
*.ipr
*.iws
*.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
*.jar
*.war
*.ear

# 환경설정(로컬)
application-local.yml
application-dev.yml

# 기타
*.class
*.swp
*.swo

# 테스트 리포트
/test-results/
/test-output/

# Static/Temp
static/
tmp/ 